html
{
    scroll-behavior: smooth;
}
#text
{
    color:black;

}
#imge
{
    width: 60%;

}
#list
{
    text-align: left;
    font-weight: bold;
    font-size: 2vw;
}
#stext
{
    font-family: Arial; 
    font-size: 1.8vw;
}
#mtext
{
    font-family:Times New Roman;
     font-size: 4vw;
}
#navbu
{
    font-weight: bold;
}
